services:
    directus:
        image: directus/directus:latest
        secrets:
            - admin_password
            - secret_key
        ports:
            - 8055:8055
        volumes:
            - ./database:/directus/database
            - ./uploads:/directus/uploads
            - ./extensions:/directus/extensions
        environment:
            #SECRET_FILE: /run/secrets/secret_key
            SECRET: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6ImRmMzYzMDA0LTI2NjItNDc5MS1iNWY0LTQ4OWJjNzAzOTIzNSIsInJvbGUiOiJhOWI0MWM3Mi0wMzUyLTQ5ZjQtOGM4MC0xNmU4YWU4YWFiN2EiLCJhcHBfYWNjZXNzIjp0cnVlLCJhZG1pbl9hY2Nlc3MiOnRydWUsImlhdCI6MTc0MDczNjU2NywiZXhwIjoxNzQwNzM3NDY3LCJpc3MiOiJkaXJlY3R1cyJ9.DkjxjRtyRIqTNKkHi1EHqE0dkjeVFj2t0uabu56Oa78"
            ADMIN_EMAIL: "mauro.longano@marconirovereto.it"
            #ADMIN_PASSWORD_FILE: /run/secrets/admin_password
            ADMIN_PASSWORD: "admin"
            DB_CLIENT: "sqlite3"
            DB_FILENAME: "/directus/database/data.db"
            WEBSOCKETS_ENABLED: "true"
            CORS_ENABLED: "true"

secrets:
  admin_password:
    file: ./.admin_password
  secret_key:
    file: ./.secret_key
