---
import Layout from "../layouts/Layout.astro";
import directus from "../lib/directus.ts";
import { readSingleton } from "@directus/sdk";

const global = await directus.request(readSingleton("global"));
// Get featured works (latest 3)
const works = await directus.request(
  readItems("works", {
    filter: { status: { _eq: "published" } },
    limit: 3,
    fields: ["*", { creator: ["*", { user: ["*"] }] }, { category: ["*"] }],
  })
);

---

<Layout title={global.title}>
  <main class="flex flex-col justify-around items-center min-h-screen">
    <section class="flex flex-col justify-center items-center">
      <h1 class="text-3xl font-bold underline">{global.title}</h1>
      <p>{global.description}</p>
    </section>
    <a href="https://docs.astro.build/en/getting-started/" class="text-lg hover:text-purple-800 transition-colors ">Documentation</a>
  </main>
</Layout>
